<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>

<a href="/create-country">Create new country</a>

<h1>Provinces</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <th:block th:each="country : ${country}">

        <tr>
            <td th:text="${country.name}"></td>
            <td><a th:href="@{/edit-country/__${country.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-country/__${country.id}__ }">delete</a></td>
        </tr>

    </th:block>

</table>
</body>
</html>